
.navbar {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    display: flex;
    margin: 0;
    width: 100%;
    height: 90px;
    background: #4B0082;
    border-bottom: 5px solid #aaa;

  }
  
  .links {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: white;
  }

   .links a:hover {
    color: #aaa;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
  
  .toggleButton {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    transition: 0.5s;
    height: 10vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: center;
  
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 905px) and (min-width:700px){
    .links {
      margin-left: 6vw;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: white;
    }
  
     .links a:hover {
      color: #aaa;
    }
    
    .navbar a {
      
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
  
  }
  
  @media only screen and (max-width: 700px) {
    .toggleButton {
      display: flex;
      align-self: flex-start;
    }
    #close a {
      transition: 1s;
      display: none;
    }
  }
  /* ////// SE liga aqui ////////////////  */

  
  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

   .links a:hover {
    color: #aaa;
  }
  
  .navbar a {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
  
  .toggleButton {
    width: 1%;
    height: 100px;
    display: flex;
    align-items: center;
    
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 30vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
  
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (min-width: 700px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }